.head {
    position: relative;
    text-align: center;
    &-slider__element-img {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    //menu
    &-menu {
        max-width: 120px;
        height: 100%;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        border-right: 1px solid $gray;
        display: grid;
    }
    &-menu__options {
        display: grid;
        grid-row-gap: 0.5em;
    }
    &-menu__option img {
        width: 2.5em;
        height: 2.5em;
    }
    &-menu__option span {
        display: block;
        letter-spacing: 3px;
        font-size: 12px;
    }
    &-menu__logo {
        width: 100%;
    }
    &-menu__date {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &-menu__date-day {
        display: block;
        font-weight: 800;
        font-size: 72px;
    }
    &-menu__date-rest {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
    }
    &-menu__address {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
    &-menu__address span {
        margin-left: 5px;
        font-weight: 300;
        font-size: 12px;
    }
    &-style__text {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 800;
        font-size: 200px;
        color: $white;
        white-space: pre-wrap;
        line-height: 155px;
    }
    &-map {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-slider__element {
        position: relative;
    }
    &-slider__element-content {
        position: absolute;
        text-align: right;
        right: 70px;
        bottom: 115px;
        color: white;
        text-transform: uppercase;
    }
    &-slider__element-content img {
        margin-top: 30px;
    }
    &-slider__element-subtext {
        position: relative;
        font-size: 22px;
        letter-spacing: 7px;
        color: rgba(white, .5);
    }
    &-slider__element-title {
        font-size: 80px;
        margin-bottom: 40px;
    }
    &-slider__element-text {
        font-size: 40px;
        margin-top: 8px;
    }
    &-slider__element-subtext::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: rgba(white, .5);
        left: -105px;
        top: 50%;
        transform: translateY(50%);
    }
    &-slider__options {
        position: absolute;
        bottom: 30px;
        right: 80px;
        color: white;
        display: grid;
        display: flex;
    }
    &-slider__option {
        margin-left: 40px;
    }
    &-slider__option-content--active {
        border-top: 4px solid $green !important;
    }
    &-slider__option-content {
        width: 200px;
        border-top: 4px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-slider__option-content__place {
        font-weight: 300;
        font-size: 16px;
    }
    &-slider__option-content__number {
        font-weight: 800;
        font-size: 24px;
    }
    &-slider__option span {
        display: block;
        margin-top: 11px;
    }
    &__arrow-down {
        position: absolute;
        left: 160px;
        bottom: 40px;
        animation: bounce 1s infinite;
    }
}

.head .slick-arrow {
    position: absolute;
    top: 40px;
    z-index: 1;
}

.head .slick-next {
    right: 80px;
}

.head .slick-prev {
    right: 120px;
}